# Base URL of the application
URL=localhost:5000

# MySQL Configuration
MYSQL_HOST=mysql                       # Hostname of the MySQL server
MYSQL_USER=username_here               # Username for MySQL
MYSQL_PASSWORD=password_here           # Password for MySQL
MYSQL_DATABASE=database_name_here      # Database name
MYSQL_ROOT_PASSWORD=root_password_here # Root password for MySQL