.navbar-item.is-selected, .navbar-item.is-selected:hover {
    background-color: blue; /* Blue when selected */
    color: white;
  }

.navbar-item:hover {
  background-color: lightgray; /* Light gray on hover */
  color: black;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}