{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}

<section class="section">
    <h1 class="title is-2">About Me (Continued)</h1>
    <h1 class="title">Education</h1>

    <div class="card">
        <div class="card-content">
            <div class="content">
                <div class="columns">
                    <div class="column is-narrow">
                        <div class="card-image">
                            <figure class="image is-64x64">
                                <img src="./static/img/logo.jpg" alt="Company name" />
                            </figure>
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <div class="level">
                            <div class="level-item">
                                <div>
                                    <h1 class="title">Georgia Institute of Technology</h1>
                                    <p class="heading">BS in Computer Science, Minor in Leadership Studies</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h1 class="title py-3">Hobbies</h1>
    <div class="columns is-multiline">
        {% for hobby in hobbies %}
        <div class="column is-one-quarter">
            <div class="card has-text-centered" style="height: 400px; display: flex; flex-direction: column; justify-content: center;">
                <div class="card-image is-centered" style="padding-top: 20px;">
                    <figure class="image is-256x256 is-inline-block">
                        <!-- Use the precomputed img_url -->
                        <img src="{{ hobby.img_url }}" alt="{{ hobby.name }}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media-content">
                        <p class="title is-4">{{ hobby.name }}</p>
                        <p class="subtitle is-6 mt-3">{{ hobby.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</section>


{% endblock %}
