<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top" data-theme="dark">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon import -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon.ico/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon.ico/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon.ico/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon.ico/safari-pinned-tab.svg') }}" color="#5bbad5">
    
    <meta name="theme-color" content="#000000">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-prefers-dark@0.1.1/css/bulma-prefers-dark.min.css">
    <script src="https://kit.fontawesome.com/81fe88e261.js" crossorigin="anonymous"></script>

    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/splash.css') }}">
    {% endblock %}
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="splash-screen" class="splash-screen">
        <div class="splash-content">
            <h1 class="splash-text">Hello, I'm <span class="splash-name">Jimmy Mishan</span></h1>
            <h2 class="splash-subtext">An aspiring software engineer.</h2>
        </div>
    </div>

    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
                <a id="home-link" class="navbar-item {{ 'is-selected' if active_page == 'home' else '' }}" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-item {{ 'is-selected' if active_page == 'about' else '' }}" href="{{ url_for('about') }}">About</a>
                <a class="navbar-item {{ 'is-selected' if active_page == 'work' else '' }}" href="{{ url_for('work') }}">Work</a>
                <a class="navbar-item {{ 'is-selected' if active_page == 'projects' else '' }}" href="{{ url_for('projects') }}">Projects</a>
                <a class="navbar-item {{ 'is-selected' if active_page == 'timeline' else '' }}" href="{{ url_for('timeline') }}">Timeline</a>            
                <a class="navbar-item {{ 'is-selected' if active_page == 'contact' else '' }}" href="{{ url_for('contact') }}">Contact Me</a>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
    <script> window.globalAnimationDelay = 700; </script>
    <script src="{{ url_for('static', filename='js/splash.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}" defer></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
