{% extends "base.html" %}

{% block content %}

<section class="hero is-halfheight">
    <div class="hero-body">
        <div class="container is-centered">
            <div class="columns">
                <div class="column">
                    <p class="title">Personal Portfolio</p>
                    <p class="subtitle">A place to showcase stuff</p>
                </div>
                <div class="column is-narrow">
                    <figure class="image is-128x128">
                      <img class="is-rounded" src="./static/img/logo.jpg" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}