{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Projects</h1>
        <div class="columns is-multiline">
            {% for project in projects %}
            <div class="column is-one-third">
                <a href="{{ project.url if project.url else 'javascript:;' }}" class="card-link">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{ project.title }}</p>
                                    <p class="subtitle is-6">{{ project.tech or 'Various Technologies' }}</p>
                                </div>
                            </div>
                            <div class="content">
                                {{ project.description }}
                                <br><small style="color: black;">Last updated: {{ project.updated_at }}</small>
                            </div>
                            <footer class="card-footer">
                                <a href="{{ project.github_url }}" class="card-footer-item">
                                    <span class="icon"><i class="fab fa-github"></i></span>
                                    <span>GitHub</span>
                                </a>
                            </footer>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
