{% extends "base.html" %}

{% block title %}Work Experience{% endblock %}

{% block content %}
<section class="section">
    <h1 class="title" style="color: white; font-weight: bold;">Work Experience</h1>

    {% for experience in work_experiences %}
    <a href="{{ experience.link }}" class="card-link">
        <div class="card my-4">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ experience.img_url }}" alt="{{ experience.company }}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{ experience.role }}</p>
                        <p class="subtitle is-5">{{ experience.company }}</p>
                    </div>
                </div>

                <div class="content">
                    {{ experience.description }}
                    <br />
                    <i>{{ experience.dates }}</i>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</section>
{% endblock %}
