{% extends "base.html" %}

{% block title %}Work Experience{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-white has-text-weight-bold">Work Experience</h1>

        {% for experience in work_experiences %}
        <div class="card my-4">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ experience.img_url }}" alt="{{ experience.company }} logo">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4 is-size-5-mobile">{{ experience.role }}</p>
                        <p class="subtitle is-5 is-size-6-mobile">{{ experience.company }}</p>
                        <p class="is-6 is-size-7-mobile"><time datetime="{{ experience.dates }}">{{ experience.dates }}</time></p>
                    </div>
                </div>
        
                <div class="content is-size-6 is-size-7-mobile">
                    <ul>
                        {% for achievement in experience.achievements %}
                        <li>{{ achievement }}</li>
                        {% endfor %}
                    </ul>
                </div>
        
                {% if experience.link %}
                <footer class="card-footer">
                    <a href="{{ experience.link }}" class="card-footer-item is-size-6 is-size-7-mobile" target="_blank" rel="noopener noreferrer">Learn More</a>
                </footer>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}